@model IEnumerable<ProyectoGaleria.Models.Artista>
@{
    ViewData["Title"] = "Lista de Artistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

<div class="row">
    
    <div class="col-sm-6">
        <h3>
            Lista de Obras
            <img src="~/img/logo.png" alt="" width="45" height="40">
        </h3>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-success d-block" asp-action="Create" asp-controller="Artistas">Agregar Artista</a>
    </div>
</div>

    <div class="row">
        @if (Model != null)
        {

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.Id)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.Nombre)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.Apellido)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.Fechacreacion)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.Precio)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.Imagen)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.ImgPerfil)
                        </td>
                        <td>Acciones</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Apellido
                        </td>
                        <td>
                            @item.Fechacreacion
                        </td>
                        <td>
                            @item.Precio
                        </td>
                        <td>
                            @item.ImgPerfil
                        </td>
                        <td>
                            @item.Imagen
                        </td>
                        <td>
                            <a asp-controller="Artistas" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-controller="Artistas" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    }
                </tbody>


            </table>
        }
        else
        {
            <p>No existen Registros</p>
        }
    </div>

</div>

